body{
  font-family: 'Lato', sans-serif;
  width: 100%;
}
  .page-width {
    margin: 0 auto;
    width: 1100px;
   }
   .grid-container {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 120px 400px 170px 250px 120px;
        color: black; 
      }
      .header-bar {
        grid-column: 1 / span 3;
        grid-row: 1;
        background: url("header_bg.png");
      }

       ul {
        float: right;
        grid-column: 2 / span 2;
        grid-row: 1;
       }
       li {
         font-size: 20px;
         line-height: 115px;
         display: inline;
         margin-right: 40px;
         
      }
      a {
        text-decoration: none;
      }

      .content-section {
        grid-column: 1 / span 3;
        grid-row: 2;
        background: url("banner_bg.png");
      }
      .banner {
      grid-column: 1 / span 2;
      grid-row: 2;
      margin: 24px 40px 0px 40px;
      
      }
      .sub-content-one {
        grid-column: 1;
        grid-row: 3;
        background: url("fade-slider.png") no-repeat;
        margin: 12px 0px 0px 24px;
      }
      .sub-content-two {
        grid-column: 2;
        grid-row: 3;
        background: url("nivo-slider.png") no-repeat;
        margin-top: 10px;
        margin: 12px 0px 0px 24px;
      }
      .sub-content-three {
        grid-column: 3;
        grid-row: 3;
        background: url("bonus-3d-slider.png") no-repeat;
        margin-top: 10px;
        margin: 12px 0px 0px 24px;
      }
      .footer {
        grid-column: 1 / span 3;
        grid-row: 5;
        background: url("footer_bg.png");
      }
      .bannerText {
        grid-column: 3;
        grid-row: 2;
        color: white;
        margin: 24px 32px 0px 20px;
      }
      .contentonetext {
        grid-row: 4;
        grid-column: 1;
        font-size: 13px;
        margin-left: 16px;
      }
      .contenttwotext {
        grid-row: 4;
        grid-column: 2;
        font-size: 13px; 
        margin: 0px 0px 0px 16px;
      }
      .contentthreetext {
        grid-row: 4;
        grid-column: 3;
        font-size: 13px; 
        margin: 0px 0px 0px 16px;
      }